<p id="notice"><%= notice %></p>

<p>
  <strong>Wine:</strong>
  <%= @wines_oenologist.wine %>
</p>

<p>
  <strong>Oenologist:</strong>
  <%= @wines_oenologist.oenologist %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @wines_oenologist.grade %>
</p>

<%= link_to 'Edit', edit_wines_oenologist_path(@wines_oenologist) %> |
<%= link_to 'Back', wines_oenologists_path %>
